[submodule "bundle/vim-kolor"]
	path = bundle/vim-kolor
	url = git@github.com:zeis/vim-kolor.git
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = git@github.com:xolox/vim-notes.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
