[submodule "bundle/vim-kolor"]
	path = bundle/vim-kolor
	url = git@github.com:zeis/vim-kolor.git
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = git@github.com:xolox/vim-notes.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git@github.com:tomasr/molokai
[submodule "colors/molokai"]
	path = colors/molokai
	url = git@github.com:tomasr/molokai
